<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    初始化SE0的三大标签-->
    <title>【驴妈妈旅游】_景点门票_自由行_跟团游_国内游_出境游_酒店_机票</title>
    <meta name="keywords" content="自由行,景点门票,跟团游,自驾游,机票,酒店">
    <meta name="description" content="驴妈妈旅游网-中国新型的B2C旅游电子商务网站，为旅游者提供景区门票、自由行、度假酒店、机票、国内游、出境游等一站式旅游服务，轻度假，驴妈妈">
    <!--    初始化快捷图标-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!--    导入初始化CSS文件-->
    <link rel="stylesheet" href="css/reset.css">
    <!--    导入本站的CSS文件-->
    <link rel="stylesheet" href="scss/index.css">
    <!--    导入相关的工具类JS文件-->
    <script src="js/template-web.js"></script>
    <script src="js/tools.js"></script>
    <script src="js/animatioms.js"></script>
    <!--    IP地址定位城市-->
    <script src="http://pv.sohu.com/cityjson"></script>
    <!--    导入本站的JS-->
    <script src="js/index.js"></script>
</head>
<body>
<div class="tool">
    <div class="tool-in clearfix" >
        <ul class="tool-left fl">
            <li class="city">
                <i></i>
                <b>北京</b>
                <a href="javascript:">[切换]</a>
                <!--<div>
                    <p>可选城市列表</p>
                    <dl class="clearfix">
                        <dt class="fl">华北</dt>
                        <dd class="fl">
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                            <a href="javascript:">北京</a>
                        </dd>
                    </dl>
                </div>-->
            </li>
            <li>
                <a href="javascript:">请登录</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="javascript:">免费注册</a>
            </li>
        </ul>
        <ul class="tool-right fr">
            <li>
                <a href="javascript:">我的驴妈妈<i class="triangle"></i></a>
                <div class="list">
                    <p><a href="javascript:">我的订单</a></p>
                    <p><a href="javascript:">我的驴榜</a></p>
                    <p><a href="javascript:">我的优惠券</a></p>
                    <p><a href="javascript:">我的礼品卡</a></p>
                </div>
            </li>
            <li><a href="javascript:">驴镑商城</a></li>
            <li><a href="javascript:">品牌会员</a></li>
            <li><a href="javascript:">帮助</a></li>
            <li>|</li>
            <li class="wechat">
                <a href="javascript:">
                    <i></i>
                </a>
                <div>
                    <img src="images/wechat.jpg" alt="">
                </div>
            </li>
            <li class="applets">
                <a href="javascript:">
                    <i></i>
                </a>
                <div>
                    <img src="images/applets.png" alt="">
                </div>
            </li>
            <li class="sina">
                <a href="javascript:">
                    <i></i>
                </a>
            </li>
            <li class="tel">
                <a href="javascript:">
                    <i></i>
                    手机版
                </a>
            </li>
            <li>|</li>
            <li class="phone">
                <a href="javascript:">
                    <i></i>
                    国内:1010-6060
                </a>
                <div>
                    <img src="images/telephone.png" alt="">
                </div>
            </li>
            <li><a href="javascript:">在线客服</a></li>
            <li>
                <a href="javascript:">合作中心<i class="triangle"></i></a>
                <div class="list">
                    <p><a href="javascript:">供应商合作</a></p>
                    <p><a href="javascript:">EBooking</a></p>
                    <p><a href="javascript:">广告合作</a></p>
                    <p><a href="javascript:">驴妈妈联盟</a></p>
                    <p><a href="javascript:">品牌合作</a></p>
                    <p><a href="javascript:">网络媒体合作</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="ad">
    <div class="ad-in">
        <img src="images/big-ad.jpg" alt="">
        <a href="javascript:" class="ad-close-btn"><span></span></a>
    </div>
</div>
<div class="header">
    <div class="header-in clearfix">
        <h1 class="logo fl">
            <a href="#"><img src="images/lv_logo.png" alt=""></a>
        </h1>
        <div class="search fl">
            <div class="search-city fl">
                <b>上海</b>
                <span>出发</span>
                <i></i>
            </div>
            <div class="search-box fr">
                <div class="search-type">
                    <b>全部旅游</b>
                    <i></i>
                </div>
                <input type="text" placeholder="请输入目的地、主题、或关键词">
                <div class="search-btn">
                    <i></i>
                    <span>搜索</span>
                </div>
            </div>
        </div>
        <div class="tip fr">
            <a href="#"><img src="images/homeheadtip.png" alt=""></a>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="nav-in">

    </ul>
    <div class="sub-nav">
        <p>
            <!--<a href="#">周边游首页</a>
            <a href="#">周边跟团</a>-->
        </p>
        <i class="nav-arrow"></i>
    </div>
</div>
<div class="banner">
    <ul class="banner-in">
        <li><a href="#"><img src="images/banner1.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/banner2.jpg" alt=""></a></li>
    </ul>
    <ol class="banner-number">
        <li></li>
        <li></li>
    </ol>
    <div class="tab clearfix">
        <ul class="tab-left fl">
            <li class="active"><a href="#">景点门票</a></li>
            <li><a href="#">跟游团</a></li>
            <li><a href="#">自由行</a></li>
            <li><a href="#">当地游</a></li>
            <li><a href="#">酒店</a></li>
            <li><a href="#">机票</a></li>
            <li><a href="#">火车票</a></li>
            <li><a href="#">邮轮&签证</a></li>
        </ul>
        <div class="tab-right fr">
            <div class="active">
                <ul class="tab-top">
                    <li class="active">
                        <a href="#">景点门票</a>
                        <p><i></i></p>
                    </li>
                    <li>
                        <a href="#">酒店+景点</a>
                        <p><i></i></p>
                    </li>
                </ul>
                <div class="tab-bottom">
                    <input type="text" placeholder="请输入目的地,主题或景区名">
                    <div><span>搜索</span></div>
                    <dl class="clearfix">
                        <dt class="fl">热搜景点</dt>
                        <dd class="fr">
                            <a href="#">新华联铜官窑古镇</a>
                            <span>|</span>
                            <a href="#">张家界武陵源</a>
                            <span>|</span>
                            <a href="#">凤凰古城</a>
                            <span>|</span>
                            <a href="#">株洲方特欢乐世界</a>
                            <span>|</span>
                            <a href="#">宁乡炭河古城</a>
                            <span>|</span>
                            <a href="#">长沙世界之窗</a>
                            <span>|</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="spike">
    <div class="spike-in">
        <!--<div class="spike-top clearfix">
            <ul class="spike-left fl">
                <li class="active"><a href="#">今日必抢</a></li>
                <li><a href="#">品质优选</a></li>
                <li><a href="#">亲自/自驾</a></li>
            </ul>
            <p><i></i></p>
            <a href="#" class="fr"><img src="images/ad.jpg" alt=""></a>
        </div>
        <ul class="spike-bottom active">
            <li><a href="#">
                <img src="images/item.jpg" alt="">
                <p><b>酒店套餐</b><span>|</span>珠海长隆横琴湾酒店（海洋王国店）2晚【双人双园游】海洋王国（两天多次入园、烟花表演）+大马戏精彩表演+多次游玩水世界（度假园景房除外）+预订时可选早餐套餐</p>
                <div class="clearfix">
                    <p>$599<span>起</span></p>
                    <i>立即抢购</i>
                </div>
            </a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="spike-bottom">
            <li><a href="#"></a></li>
            <li><a href="#">
                <img src="images/item.jpg" alt="">
                <p><b>酒店套餐</b><span>|</span>珠海长隆横琴湾酒店（海洋王国店）2晚【双人双园游】海洋王国（两天多次入园、烟花表演）+大马戏精彩表演+多次游玩水世界（度假园景房除外）+预订时可选早餐套餐</p>
                <div class="clearfix">
                    <p>$599<span>起</span></p>
                    <i>立即抢购</i>
                </div>
            </a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="spike-bottom">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#">
                <img src="images/item.jpg" alt="">
                <p><b>酒店套餐</b><span>|</span>珠海长隆横琴湾酒店（海洋王国店）2晚【双人双园游】海洋王国（两天多次入园、烟花表演）+大马戏精彩表演+多次游玩水世界（度假园景房除外）+预订时可选早餐套餐</p>
                <div class="clearfix">
                    <p>$599<span>起</span></p>
                    <i>立即抢购</i>
                </div>
            </a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>-->
    </div>
</div>
<script id="cityS" type="text/html">
    <div>
        <p>可选城市列表</p>
        <%for(let i=0;i < cityS.length;i++){%>
            <dl class="clearfix">
                <dt class="fl"><%=cityS[i].area%></dt>
                <dd class="fl">
                    <%for(let j=0;j < cityS[i].list.length;j++){%>
                        <a href="javascript:"><%=cityS[i].list[j]%></a>
                    <%}%>
                </dd>
            </dl>
        <%}%>
    </div>
</script>
<script id="spikeS" type="text/html">
    <div class="spike-top clearfix">
        <ul class="spike-left fl">
            <% for(let i=0;i < spikeS.length;i++) {%>
                <% if(i===0) {%>
                    <li class="active"><a href="#"><%=spikeS[i].title%></a></li>
                <%} else {%>
                    <li><a href="#"><%=spikeS[i].title%></a></li>
                <%}%>
            <%}%>
        </ul>
        <p><i></i></p>
        <a href="#" class="fr"><img src="images/ad.jpg" alt=""></a>
    </div>
    <% for(let i=0;i < spikeS.length;i++) {%>
    <% if(i===0) {%><ul class="spike-bottom active">
    <%} else {%><ul class="spike-bottom"><%}%>
        <% for(let j=0;j < spikeS[i].list.length;j++) {%>
        <li>
            <a href="#">
                <img src="<%=spikeS[i].list[j].img%>" alt="">
                <p>
                    <b><%=spikeS[i].list[j].type%></b>
                    <span>|</span>
                    <%=spikeS[i].list[j].des%>
                </p>
                <div class="clearfix">
                    <p><%=spikeS[i].list[j].price%><span>起</span></p>
                    <i>立即抢购</i>
                </div>
            </a>
        </li>
        <%}%>
    </ul><%}%>
</script>
</body>
</html>